// Fonst sizes

$h1: 64px;
$h2: 48px;
$h3: 32px;
$h4: 24px;

$subhead: 24px;
$text18: 18px;
$btn: 16px;
$navig: 16px;
$text: 16px;
$text12: 12px;


// Colors

$white: #ffffff;
$white50: rgba(255, 255, 255, 0.5);
$bg: #FBFBF7;
$light-grey: #D2D2D2;
$grey: #817E79;
$black: #000000;
$green: #CFDBD1;
$orange: #FDBE87;
$blue: #BEE2E7;
$pink: #F7CDDB;
$red: #FF0B0B;
